body  {
    width: 80%;
    margin: auto;
    background-color: #000000;
    color: #7295b7;
	  font-family: Georgia,Times,Times New Roman,serif;
  }

h1  {
    font-size: 4em;
    background-color: #000000;
    border: 4px solid #eab32d;
    border-radius: 30px;
    letter-spacing: 0.4em;
    color: #eab32d;
    font-variant: small-caps;
    text-align: center;
  }

h2  {
  font-size: 1.5em;
  color: #eab32d;
  background-color: white;
  border-top: 2px solid #eab32d;
  border-radius: 30px;
  font-variant: small-caps;
  text-align: center;
}

h3  {
  font-size: 1.5em;
  color: #eab32d;
  text-align: center;
  background-color: white;
  border-top: 2px solid #eab32d;
  border-radius: 30px;
  font-variant: small-caps;
}

iframe  {
  display: block;
  width: 600px;
  height: 300px;
  margin: 0px auto;
  border: 0px;
}

iframe.googlemap {
  display: block;
  width: 300px;
  height: 225px;
  margin: 0px auto;
  border: 0px;
  border-radius: 30px;
}

.twitter {
  display: block;
  width: 300px;
  height: 225px;
  margin: 0px auto;
  border: 0px;
  border-radius: 30px;
}

a {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #eab32d;
}

nav {
  text-align: center;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border: 2px solid #eab32d;
  border-radius: 30px;
  font-style: italic;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #eab32d;
  }

nav a:hover {
  background-color: white;
  border: 2px solid #eab32d;
  color: #eab32d;
}

nav a:active  {
  color: #eab32d;
  background-color: white;
}

nav a.active  {
  color: #eab32d;
  background-color: white;
}

@media screen and (max-width: 600px) {
  .topnav a.active, a.navi {
    float: none;
    width: 100%;
    padding: 2px;
    margin: 2px;
    border: .5px solid #eab32d;
    font-size: 1em;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .topnav a.active, a.navi {
    float: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eab32d;
    font-size: 1.5em;
  }
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

address {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 1.5em;
}

.address  {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  color: #eab32d;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

table {
  width: 80%;
  height: auto;
  margin: 0px auto;
  border: 1px solid #eab32d;
  background-color: white;
  color: #eab32d;
}

th  {
  border: 1px solid #eab32d;
  background-color: black;
  color: #eab32d;
}

td  {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #eab32d;
  background-color: white;
  color: #eab32d;
  width: 100px;
  height: 50px;
}

td.heading  {
  font-weight: bold;
  border: 1px solid #eab32d;
  color: #eab32d;
  background-color: black;
}

span.room {
  font-style: italic;
  color: black;
}

footer  {
  font-size: small;
  color: #eab32d;
  background-color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px;
  margin: 1px;
  border: .25px solid #eab32d;
  border-radius: 30px;
  font-style: italic;
  text-align: center;
  color: #eab32d;
}

.footer {
  text-decoration: none;
  font-size: small;
  color: #eab32d;
}

button  {
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.faq  {
  font-size: 1.5em;
  color: #eab32d;
  background-color: #000000;
  border: none;
  border-radius: 30px;
  font-variant: small-caps;
  text-align: center;
}

.answer {
  margin: auto;
  background-color: #000000;
  color: white;
  text-align: center;
}

.faqborder  {
  background-color: #000000;
  border-top: 2px solid white;
}

details > summary {
    list-style-type: '🎈';
    list-style-position: inherit;
}

details[open] > summary {
    list-style-type: '👋';
}

.instruction  {
  text-align: center;
  color: white;
  font-size: 1.5em;
}
